@model List<Inventory_Management_System.Models.Product>

@{
    ViewBag.Title = "Table";
}

<h2 style="color: red; display: flex; justify-content: center; margin-bottom: 30px;">Active Products </h2>


<table class="table table-striped" id="mytbl">
    <thead>
         <tr>
             <th>Product</th>
             <th>Name</th>
             <th>Description</th>
             <th>Price</th>
             <th>Quantity</th>
             <th>Rating</th>
         </tr>
    </thead>
    <tbody>
         @foreach (var i in Model)
         {
             <tr>
                 <td><i class='fas fa-box-open'></i></td>
                 <td>@i.Name</td>
                 <td>@i.desc</td>
                 <td>@i.price</td>
                 <td>@i.quantity</td>
                 <td>@i.rating</td>
             </tr>
         }
    </tbody>
    <tfoot>
        <tr>
            <th>Product</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Rating</th>
        </tr>
    </tfoot>
</table>